<?xml version="1.0" encoding="UTF-8"?>
<maison>

<salle name="salon">
	<multiprise id="1" ip="192.168.0.11">
		<prise type="L"  />
		<prise type="L" />
		<prise type="L" />
		<prise type="T" />
		<prise type="T" />
	</multiprise>
	<module_capteurs id="001111111" multiprise="1">
		<capteur type="L" />
		<capteur type="T" />
		<capteur type="V" />
		<capteur type="V" />
	</module_capteurs>
</salle>
<salle name="cuisine">
	<module_capteurs id="001122222" multiprise="1">
		<capteur type="L" />
		<capteur type="T" />
		<capteur type="V" />
		<capteur type="V" />
	</module_capteurs>
</salle>
</maison>