
/* CSS Document */
.style1 {font-family: Verdana, Arial, Helvetica, sans-serif}
.style2 {color: #E70F26}
.style6 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #013B60; }
h1{
    color:#4d9c6c;
	font-size:72px;
    text-decoration:underline;
}
em{
     color:#941515;
     font-style:normal;
     text-decoration:underline;
}
body {

	background-color: #F3FFE2;
	color: #225378;
	font-family:Verdana, Helvetica, sans-serif;
	font-size: 2em;
	font-weight:bold;
	text-align:left;
	
}
form {
	font-size:1em;
 padding:10px;
 width:900px;
 }
 input {

font-size:50px;
 }

  TD {
font-size:50px;
 }
legend {
	font-size:2em;
 }

#formu{
	font-size:50px;
}
 select, option {
	 font-size:50px;
 }

#logo{
	visibility:collapse;
	width:0;
	height:0;
}
#pas_flash{
	 font-size:50px;
	
}
#flash{
	visibility:collapse;
	width:0;
	height:0;
	
}
#all{
	margin-left: auto;
	margin-right:auto;
}
#content{
	float: left;
}
#menu{
    float:left;
	
	width: 960px;
}

.lien_menu{
    text-align:center;
    padding:5px 10px 10px 5px;
    font-weight:bold;
    font-size: 50px;
    height: 100px;
    color: #F3FFE2;
    background-color: #225378;
    -moz-border-radius : 10px;
    margin: 10px;
}
#select{
    font-style:italic;
}
#menu em{
    text-decoration:none;
    color: #C7CECF;
}
#menu a:link {
	font-weight: bold;
	color: #F3FFE2;
	text-decoration: none;
}

#menu a:visited {
	font-weight: bold;
	color: #F3FFE2;
	text-decoration: none;
}
#menu a:hover, a:active {
	font-weight: bold;
	color: #FC9200;
	text-decoration: underline;
}
