
/* CSS Document */
.style1 {font-family: Verdana, Arial, Helvetica, sans-serif}
.style2 {color: #E70F26}
.style6 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #013B60; }
h1
{
    color:#941515;
    text-decoration:underline;
}
em
{
     color:#941515;
     font-style:normal;
     text-decoration:underline;
}
body {
	width: 800px;
	background-color: #D9D9D9;
	color: #262626;
	font-family:Verdana, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight:bold;
	text-align:left;
	
}
#all
{
	margin-left: auto;
	margin-right:auto;
}
#main{
	width: 524px;
	float: right;
}
#menu
{
    
    float: left;
	width: 200px;
}

#photo
{
    float: left;
}
#ban
{
    float: right;
}
.colonne
{
    float:left;
    width: 320px;
}
.lien_menu
{
    text-align:center;
    padding:5px 10px 10px 5px;
    font-weight:bold;
    font-size: 1em;
    height: 30px;
    color: #7A1818;
    background-color: #8C8C8C;
    -moz-border-radius : 10px;
    margin: 10px;
    border-color: #7A1818;
    border-style: solid;
    border-width: Medium;
}
#select
{
    font-style:italic;
}
#menu em
{
    text-decoration:none;
    color: #C7CECF;
}
#menu a:link {
	font-weight: bold;
	color: #000001;
	text-decoration: none;
}

#menu a:visited {
	font-weight: bold;
	color: #000001;
	text-decoration: none;
}
#menu a:hover, a:active {
	font-weight: bold;
	color: #941515;
	text-decoration: underline;
}
